/node_modules
/public/hot
/public/storage
/storage/*
!/storage/app/public/kids_avatars
/vendor
.php-cs-fixer.cache
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/tests
/public/hot

tmpclaude-*
