// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

// Variables
@import 'variables';
@import 'custom';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons';
@import '~jquery-ui/themes/base/all.css';

.pagewrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.rounded-img {
    border-radius: 50%;
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: 150px; /* Certifique-se de que altura e largura sejam iguais para manter o formato circular */
    object-fit: cover; /* Isso garante que a imagem seja cortada corretamente dentro do círculo */
}

.centered-column {
    text-align: center;
    vertical-align: middle;
}

.centered-column-vertically {
    vertical-align: middle;
}

main {
    flex-grow: 1;
}

.cursor-pointer {
    cursor: pointer;
}

$form-check-input-width: 1em;
$form-check-min-height: $font-size-base * $line-height-base;
$form-check-padding-start: $form-check-input-width + .5em;
$form-check-margin-bottom: .125rem;
$form-check-label-color: null;
$form-check-label-cursor: null;
$form-check-transition: null;

$form-check-input-active-filter: brightness(90%);

$form-check-input-bg: $input-bg;
$form-check-input-border: 1px solid rgba($black, .25);
$form-check-input-border-radius: .25em;
$form-check-radio-border-radius: 50%;
$form-check-input-focus-border: $input-focus-border-color;
$form-check-input-focus-box-shadow: $input-btn-focus-box-shadow;

$form-check-input-checked-color: $component-active-color;
$form-check-input-checked-bg-color: $component-active-bg;
$form-check-input-checked-border-color: $form-check-input-checked-bg-color;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
$form-check-radio-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>");

$form-check-input-indeterminate-color: $component-active-color;
$form-check-input-indeterminate-bg-color: $component-active-bg;
$form-check-input-indeterminate-border-color: $form-check-input-indeterminate-bg-color;
$form-check-input-indeterminate-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");

$form-check-input-disabled-opacity: .5;
$form-check-label-disabled-opacity: $form-check-input-disabled-opacity;
$form-check-btn-check-disabled-opacity: $btn-disabled-opacity;

$form-check-inline-margin-end: 1rem;

/* Tela de Login */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-login {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.img-box {
    width: 100%;
    height: 100%;
    background-color: #5bb4ff;
    background-image: url("/images/bg-grande-maieutica.png"); // Caminho relativo
    background-position: center;
    background-repeat: no-repeat;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-box .form-box {
    width: 90%;
}

.content-box .form-box .ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box .form-box .ul li {
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

.content-box .form-box .ul li:hover {
    background: #e4e4e4;
}

.form-box .ul li img {
    width: 40px;
}

.content-box .form-box h2 {
    color: #32324f;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.content-box .form-box .input-box {
    margin-bottom: 20px;
}

.content-box .form-box .input-box input {
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
}

.content-box .form-box .input-box span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #32324f;
    font-weight: 400;
}

.content-box .form-box .input-box input::placeholder {
    color: #a9adb6;
}

.content-box .form-box .input-box input[type=submit] {
    background: #4aa4ee;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.content-box .form-box .input-box input[type=submit]:hover {
    background: #3286ca;
}

.content-box .form-box .remember{
    margin-bottom: 20px;
    color: #32324f;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.content-box .form-box .remember a {
    text-decoration: none;
    color: #4aa4ee;
}
.content-box .form-box .remember a:hover{
    color: #3286ca;
}

.content-box .form-box .input-box p {
    color: #32324f;
}
.content-box .form-box .input-box p a{
    color: #4aa4ee;
}

.content-box .form-box .input-box p a:hover{
    color: #3286ca;
}
.content-box .form-box h3
{
    color: #607d8b;
    text-decoration: none;
    margin: 0 auto;
    font-weight: 500;
    text-align: center;
    font-size: 22px;
    border-bottom: 4px solid #4aa4ee;
}

@media (min-width:869px) {
    .container-login .content-box .form-box .remember{
        flex-wrap: wrap;
    }
    .container-login .content-box .form-box .remember a{
        margin-top: 20px;
    }
    .container-login .content-box .form-box{
        width: 100%;
        padding: 20px;
        background: #fff;
        margin: 20px;
    }
}

@media (max-width:868px) {
    .container-login .img-box{
        display: none;
    }
    .container-login .content-box{
        width: 100%;
    }
    .container-login .content-box .form-box{
        width: 100%;
        padding: 20px;
        background: white;
        margin: 30px;
    }
    .container-login .content-box .form-box h3{
        margin: 30px 0 10px;
    }
}
@media (max-width:500px) {
    .container-login .content-box .form-box .remember{
        flex-wrap: wrap;
    }
    .container-login .content-box .form-box .remember a{
        margin-top: 20px;
    }
    .container-login .content-box .form-box{
        width: 100%;
        padding: 10px;
        background: #fff;
        margin: 20px;
    }
}
